/.git/
*/.git/
$$$*.*
/ini_data/
*/ini_data/
/tmp/*
*/tmp/*
tmp*.*
*/tmp_images/
*/tmp_photos/
*/tmp_uploads/
*.sh
*.crt
*.key
*.Identifier
*.log
*.json
*.ini
debug.js
cacert.pem
error_log
robots.txt
test.php
update.php
locale.js
locale.json
/____template_bk/
/assets/
/cgi-bin/
/layout/
/template/

!.htaccess
!api_to_backend.php
!favicon.ico
!payment_callback.php

