RewriteEngine on

Options -Indexes

RewriteRule ^api/([^/]+)/([^/]+)/([^/]+)/([^/]+)(\/|$) /php/api_to_backend.php?command=$1&param1=$2&param2=$3&param3=$4 [L]
RewriteRule ^api/([^/]+)/([^/]+)/([^/]+)(\/|$) /php/api_to_backend.php?command=$1&param1=$2&param2=$3 [L]
RewriteRule ^api/([^/]+)/([^/]+)(\/|$) /php/api_to_backend.php?command=$1&param1=$2 [L]
RewriteRule ^api/([^/]+)(\/|$) /php/api_to_backend.php?command=$1 [L]

RewriteRule ^payment_callback.php/([^/]+)/([^/]+)/([^/]+)/([^/]+)(\/|$) /php/payment_callback.php?command=$1&param1=$2&param2=$3&param3=$4 [L]
RewriteRule ^payment_callback.php/([^/]+)/([^/]+)/([^/]+)(\/|$) /php/payment_callback.php?command=$1&param1=$2&param2=$3 [L]
RewriteRule ^payment_callback.php/([^/]+)/([^/]+)(\/|$) /php/payment_callback.php?command=$1&param1=$2 [L]
RewriteRule ^payment_callback.php/([^/]+)(\/|$) /php/payment_callback.php?command=$1 [L]
RewriteRule ^payment_callback.php(\/|$) /php/payment_callback.php [L]

RewriteRule ^login/([^/]+)/([^/]+)(\/|$) /login.html?email=$1&verification_pin=$2 [L]
RewriteRule ^login(\/|$) /login.html [L]
#RewriteRule ^forgot-password(\/|$) /not_logged_in/forgot-password.html [L]
RewriteRule ^registration(\/|$) /register.html [L]
#RewriteRule ^unsubscribe/([^/]+)(\/|$) /index.html?email=$1&unsubscribe=yes [L]

#Referrals:
RewriteRule ^r/([^/]+)(\/|$) /index.html?a_aid=$1 [L]

RewriteCond %{HTTP_HOST} !^(localhost|127\.0\.0\.1) [NC]
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
